<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Cat치logo de Tipos de Comisi칩n</h1>
  </div>

  <div class="panel-body">

    <p>
      <%= link_to 'Agregar tipo de comisi칩n', new_commission_type_path %>
    </p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @commission_types.each do |commission_type| %>
        <tr>
          <td>
            <%= commission_type.name %>
          </td>
          <td>
            <%= link_to 'Editar', {:action=>"edit", :controller=>"commission_types", :id=>commission_type.id} %>
            <%= link_to 'Eliminar', commission_type, method: :delete, data: { confirm: 'Seguro que deseas eliminar el tipo de comisi칩n?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>