<%= form_for @supervisor do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre:' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :entry_date, 'Fecha de entrada:' %>
    <%= f.date_field :entry_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :company_id, 'Empresa:' %>
    <%= f.collection_select :company_id, @companies, :id ,:name, {prompt: true}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
