<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Datos del Supervisor</h1>
  </div>

  <div class="panel-body">
    <p>
      <%= link_to 'Editar supervisor', edit_supervisor_path(@supervisor) %>
      <%= link_to 'Regresar al listado', :action => "index" %>
    </p>

    <div>
      <strong>Nombre:</strong>
      <%= @supervisor.name %>
    </div>

    <div>
      <strong>Empresa:</strong>
      <%= supervisor_company_name(@supervisor) %>
    </div>

    <div>
      <strong>Fecha de ingreso:</strong>
      <%= @supervisor.entry_date %>
    </div>

  </div>
</div>
