<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= @bank.name %></h1>
  </div>

  <% flash.each do |key, value| %>
    <div class="flash alert alert-<%= key %>">
    <%= value %>
    </div>
    <% end %>
  <%= yield %>

   <% if @bank.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% @bank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
    <p>
      <%= link_to "Regresar al listado", :action => "index" %>
    </p>
  </div>

  <%= render 'form' %>
</div>
