<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Catálogo de Bancos</h1>
  </div>

  <div class="panel-body">

    <p>
      <%= link_to 'Agregar banco', new_bank_path %>
    </p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @banks.each do |bank| %>
        <tr>
          <td>
            <%= link_to bank.name, {:action=>"edit", :controller=>"banks", :id=>bank.id} %>
          </td>
          <td>
            <%= link_to 'Editar', {:action=>"edit", :controller=>"banks", :id=>bank.id} %>
            <%= link_to 'Eliminar', bank, method: :delete, data: { confirm: 'Seguro que deseas eliminar el banco?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>