<div class="search-form" style="display: <%= @display %>">
  <%=form_tag({},{:class =>"form-horizontal"}) do |f| %>
    <fieldset>
      <div class="form-group">
        <label for="nombre" class="col-lg-2 control-label">Nombre</label>
        <div class="col-lg-10">
          <%= text_field_tag(:nombre,@nombre, class:"form-control", placeholder:"Nombre del Asociado")%>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <%= text_field_tag(:email,@email, class:"form-control", placeholder:"Email del Asociado")%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= button_tag("Buscar",class:"btn btn-default", id: "search-form-btn-buscar", name: "search-form-btn-buscar") %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
<br />
