<h1>Asignación de Supervisores</h1>
<p id="notice"><%= notice %></p>


<div class="boton-buscar">
  <a href="#" class="search-button"><span>Búsqueda Avanzada</span></a>
</div>

<%= render "search" %>

<%= collection_select(:Associate, :Associate_id, @listAssociates, :id, :name, prompt: "Seleccionar") %>


<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Supervisor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @associates.each do |associate| %>
      <tr>
        <td>
          <%= associate.name %>
        </td>
        <td>
          <%= associate.email %>
        </td>
        <td>
          <%= associate.supervisor_name %>
        </td>
        <td>
            <a href="#" class="btn btn-default btn-sm" title="Asignar Supervisor">
              <i class="glyphicon glyphicon-user"></i>
            </a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script language="javascript">
    $(function() {
        $('.search-button').click(function(e){
            e.preventDefault();
            $('.search-form').toggle();

        });
    });
</script>