<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Catálogo de Tipos de Pago</h1>
  </div>

  <div class="panel-body">

    <p>
      <%= link_to 'Agregar tipo de pago', new_payment_type_path %>
    </p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @payment_types.each do |payment_type| %>
        <tr>
          <td>
            <%= payment_type.name %>
          </td>
          <td>
            <%= link_to 'Editar', {:action=>"edit", :controller=>"payment_types", :id=>payment_type.id} %>
            <%= link_to 'Eliminar', payment_type, method: :delete, data: { confirm: 'Seguro que deseas eliminar el tipo de pago?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>