<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Socios</h1>
  </div>

  <div class="panel-body">

    <p>
      <%= link_to 'Agregar socio', new_associate_path %>
    </p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>¿Es supervisor?</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @associates.each do |associate| %>
        <tr>
          <td>
            <%= associate.name %>
          </td>
          <td>
            <%= associate.email %>
          </td>
          <td>
            <%= check_box_tag 'is_supervisor', 'is_supervisor', associate.is_supervisor, disabled: trueLKKMKI %>
          </td>
          <td>
            <%= link_to 'Editar', {:action=>"edit", :controller=>"associates", :id=>associate.id} %>
            <%= link_to 'Eliminar', associate, method: :delete, data: { confirm: '¿Seguro que deseas eliminar el socio?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>