<!DOCTYPE html>
<html lang="es">
<head>
  <title>Multinivel</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta description="Sistema de Multinivel. Grupo Sanne" />

</head>

<style>
    .navbar-default {
        background-color: /*#9b2dc7*/ #48176D;
        border-color: #8e44ad;
    }
    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-text {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #ecdbff;
        background-color: #8e44ad;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #ecdbff;
        background-color: #8e44ad;
    }
    .navbar-default .navbar-toggle {
        border-color: #8e44ad;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #8e44ad;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ecf0f1;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }
    .navbar-default .navbar-link {
        color: #ecf0f1;
    }
    .navbar-default .navbar-link:hover {
        color: #ecdbff;
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #ecf0f1;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ecdbff;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #ecdbff;
            background-color: #8e44ad;
        }
    }
</style>

<body>

<header>
    <div id="linea_superior_naranja">
    </div>
    <div id="linea_superior_morada">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Aqui va la imagen en pequeño</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresa <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogos <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Bancos", banks_path, method: 'get' %></li>
                  <li><%= link_to "Ciudades", cities_path, method: 'get' %></li>
                  <li><%= link_to "Empresas", companies_path, method: 'get' %></li>
                  <li><%= link_to "Tipos de Pagos", payment_types_path, method: 'get' %></li>
                  <li><%= link_to "Estados", states_path, method: 'get' %></li>
                </ul>
              </li>
              <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>

</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section id="seccionContenido" class="container">
   <div id="contenido">
     <%= yield %>
   </div>
</section>

<%= debug(params) if Rails.env.development? %>


<!-- FOOTER-->
<footer id="footer">
<div class="container">
  <div class="row">    
    <div class="col-xs-6 col-md-4 column">          
        <h4>Servicio al cliente</h4>
        <ul class="nav">
          <li><a href="#">Información de envío</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-sm-6 col-md-4 column">          
        <h4>Datos de la empresa</h4>
        <ul class="nav">
          <li><a href="about-us.html">Acerca de la empresa</a></li>
          <li><a href="about-us.html">Historia</a></li>
          <li><a href="about-us.html">Clientes</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-md-4 column">          
        <h4>Redes sociales</h4>
        <ul class="nav">
           <li><a href="#">Twitter</a></li>
           <li><a href="#">Facebook</a></li>
           <li><a href="#">Google+</a></li>
        </ul> 
      </div>
  </div>
</div>
<div id = "pie">
Grupo SANNE. Todos los derechos reservados
</div>
</footer><!-- /Footer-->

<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>


<script language="JavaScript" type="text/javascript">



</script>

</body>
</html>
