<!DOCTYPE html>
<html lang="es">
<head>
  <title>Multinivel</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta description="Sistema de Multinivel. Grupo Sanne" />

</head>
<body>

<header>
    <div id="linea_superior_naranja">
    </div>
    <div id="linea_superior_morada">
    </div>
    <div id="contenido">
      <figure id="logo">
        <%= image_tag("logo_sanne_movil.png") %>
      </figure>

      <div id="menu">
        <nav>
          <ul>
            <li><a id="menuLogin" href="#">Login</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Quienes Somos?</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <div id="loggeo">
<!--      <form class="form-horizontal" role="form">
        <fieldset>
          <legend>Ingresa tus datos</legend>

          <div class="form-group">
            <label for="name">Usuario</label>
            <input type="text" class="form-control" id="name"
                   placeholder="Ingresa tu usuario">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="text" class="form-control" id="password"
                   placeholder="Ingresa tu contraseña">
          </div>
          <button type="submit" class="btn btn-warning">Entrar</button>

        </fieldset>
      </form>
-->
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Ingresa tus datos</legend>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="username">Usuario</label>
            <div class="controls">
              <input id="textinput" name="username" type="text" placeholder="Ingresa tu usuario" class="input-medium" required="">

            </div>
          </div>

          <!-- Password input-->
          <div class="control-group">
            <label class="control-label" for="password">Contraseña</label>
            <div class="controls">
              <input id="passwordinput" name="password" type="password" placeholder="Ingresa tu contraseña" class="input-medium" required="">
            </div>
          </div>

          <!-- Button -->
          <div class="control-group">
            <label class="control-label" for="singlebutton"></label>
            <div class="controls">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary">Entrar</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section id="seccionContenido" class="container">
   <div id="contenido">
     <%= yield %>
   </div>
</section>

<!-- FOOTER-->
<footer id="footer">
<div class="container">
  <div class="row">    
    <div class="col-xs-6 col-md-4 column">          
        <h4>Servicio al cliente</h4>
        <ul class="nav">
          <li><a href="#">Información de envío</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-sm-6 col-md-4 column">          
        <h4>Datos de la empresa</h4>
        <ul class="nav">
          <li><a href="about-us.html">Acerca de la empresa</a></li>
          <li><a href="about-us.html">Historia</a></li>
          <li><a href="about-us.html">Clientes</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-md-4 column">          
        <h4>Redes sociales</h4>
        <ul class="nav">
           <li><a href="#">Twitter</a></li>
           <li><a href="#">Facebook</a></li>
           <li><a href="#">Google+</a></li>
        </ul> 
      </div>
  </div>
</div>
<div id = "pie">
Grupo SANNE. Todos los derechos reservados
</div>
</footer><!-- /Footer-->

<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>


<script language="JavaScript" type="text/javascript">



</script>

</body>
</html>
